<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="FormUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <connectionStrings>
    <add name="Conexion" connectionString="Data Source=.\SQLExpress;Initial Catalog=MINIPOS;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <userSettings>
    <FormUI.Properties.Settings>
      <setting name="PaginadoCantidadElementosPorPagina" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="ImpresoraNombre" serializeAs="String">
        <value>80mm Series Printer</value>
      </setting>
      <setting name="NombreFantasia" serializeAs="String">
        <value>Azulgrana</value>
      </setting>
      <setting name="Direccion" serializeAs="String">
        <value>Av. Saavedra 299 – Chacabuco</value>
      </setting>
      <setting name="ComprobanteCompraSeparador" serializeAs="String">
        <value>-----------------------------------</value>
      </setting>
      <setting name="ComprobanteCompraCabecera" serializeAs="String">
        <value>Comprobante de Compra\r\nNo valido como factura</value>
      </setting>
      <setting name="ComprobanteCompraPie" serializeAs="String">
        <value>Gracias por su compra</value>
      </setting>
      <setting name="AnticipacionAvisoIngresoMercaderia" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="ImprimirTicket" serializeAs="String">
        <value>False</value>
      </setting>
    </FormUI.Properties.Settings>
  </userSettings>
</configuration>