<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="logfile"
            xsi:type="File"
            fileName="${specialfolder:folder=MyDocuments}/MiniPOST/log.txt"
            archiveNumbering="DateAndSequence"
            archiveAboveSize="5000000"
            maxArchiveFiles="10">
      <layout xsi:type="CSVLayout" delimiter="Tab">
        <column name="date" layout="${longdate}" />
        <column name="level" layout="${level}" />
        <column name="message" layout="${message}" />
        <column name="exception" layout="${exception:format=toString,Data:maxInnerExceptionLevel=10}" />
      </layout>
    </target>
    <target name="logconsole" xsi:type="Console">
      <layout xsi:type="CSVLayout" delimiter="Tab">
        <column name="date" layout="${longdate}" />
        <column name="level" layout="${level}" />
        <column name="message" layout="${message}" />
        <column name="exception" layout="${exception:format=toString,Data:maxInnerExceptionLevel=10}" />
      </layout>
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="logconsole" />
    <logger name="*" minlevel="Debug" writeTo="logfile" />
  </rules>
</nlog>